<!doctype html>
<html>
<head>
    <title>Update Approval</title>
    <link rel="stylesheet" type="text/css" href="libs/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="libs/css/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="./home.css">
</head>
<body>
<div class="wrapper">
    <% include ./partials/header %>
    <h1>Update Approval</h1>

    <div>
        <table>
            <tr>
                <td>Approval Id</td>
                <td><input id="approval_id" value="<%= approval_data.id %>" readonly></td>
            </tr>
            <tr>
                <td>Application Id</td>
                <td><input type="text" id="application_id" value="<%= approval_data.application_id %>"></td>
            </tr>
            <tr>
                <td>Test Description</td>
                <td><input type="text" id="description" value="<%= approval_data.description %>"></td>
            </tr>
            <tr>
                <td>Short Circuit KA</td>
                <td><input type="number" id="sc_ka" min="0" step="0.01" value="<%= approval_data.sc_ka %>"></td>
            </tr>
            <tr>
                <td>Failure KA in case of fault</td>
                <td><input type="number" id="failure_fault_ka" min="0" step="0.01"
                           value="<%= approval_data.failure_fault_ka %>"></td>
            </tr>
            <tr>
                <td>Short Circuit Duration in milliseconds</td>
                <td><input type="number" id="sc_duration" min="0" value="<%= approval_data.sc_duration %>"></td>
            </tr>
            <tr>
                <td>Number of shots</td>
                <td><input type="number" min="0" id="n_shots" value="<%= approval_data.n_shots %>"></td>
            </tr>
            <tr>
                <td>Test Start Time</td>
                <td><input type="datetime-local" id="from_time"
                           value="<%= (new Date(new Date(approval_data.from_time) - 6.5 * 60 * 60 * 1000)).toJSON().slice(0, 19) %>">
                </td>
            </tr>
            <tr>
                <td>Test Stop Time</td>
                <td><input type="datetime-local" id="to_time"
                           value="<%= (new Date(new Date(approval_data.to_time) - 6.5 * 60 * 60 * 1000)).toJSON().slice(0, 19) %>">
                </td>
            </tr>
            <tr>
                <td>Fees</td>
                <td><input type="number" id="fees" value="<%= approval_data.fees %>"></td>
            </tr>
        </table>
        <button id="updateApprovalButton" onclick="updateApproval()">Update Approval</button>
    </div>
    <div class="push"></div>
</div>
<% include ./partials/footer %>

<script src="libs/js/jquery.min.js"></script>
<script src="libs/js/toastr.min.js"></script>
<script src="general-utils.js"></script>
<script src="approval-update.js"></script>
</body>
</html>
